In [1]:
import os
import pandas as pd
import numpy as np

In [2]:
#Loading all the data from the base folder

basepath = 'C:\\Users\\sarat\\Cyclist_CaseStudy\\Data\\csv\\'

for entry in os.listdir(basepath):
    if os.path.isfile(os.path.join(basepath, entry)):
        print(entry)

202201-divvy-tripdata.csv
202202-divvy-tripdata.csv
202203-divvy-tripdata.csv
202204-divvy-tripdata.csv
202205-divvy-tripdata.csv
202206-divvy-tripdata.csv
202207-divvy-tripdata.csv
202208-divvy-tripdata.csv
202209-divvy-publictripdata.csv
202210-divvy-tripdata.csv
202211-divvy-tripdata.csv
202212-divvy-tripdata.csv
2022_Annual_Data.csv

In [3]:
# Append all the csv files to a single data frame

annual_data = pd.read_csv(basepath + "202201-divvy-tripdata.csv")
for file in os.listdir(basepath):
    if os.path.isfile(os.path.join(basepath, file)) and file != "202201-divvy-tripdata.csv":
        temp = pd.read_csv(basepath + file)
        annual_data = pd.concat([temp, annual_data], ignore_index = True)

In [ ]:
# Appended data to a single csv
annual_data.to_csv(basepath + "2022_Annual_Data.csv")

In [4]:
# Checking for null values in the data frame

annual_data.isnull().any()

Unnamed: 0             True
ride_id               False
rideable_type         False
started_at            False
ended_at              False
start_station_name     True
start_station_id       True
end_station_name       True
end_station_id         True
start_lat             False
start_lng             False
end_lat                True
end_lng                True
member_casual         False
dtype: bool

In [5]:
# Checking for null values in individual columns

annual_data["start_station_name"].isnull().value_counts()

False    9669306
True     1666128
Name: start_station_name, dtype: int64

In [4]:
# Data Cleaning - Filling null values in the data set 

cleaned_annual_data = annual_data.fillna(value = "NA") 
cleaned_annual_data

,Unnamed: 0,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,0.0,65DBD2F447EC51C2,electric_bike,2022-12-05 10:47:18,2022-12-05 10:56:34,Clifton Ave & Armitage Ave,TA1307000163,Sedgwick St & Webster Ave,13191,41.918244,-87.657115,41.922167,-87.638888,member
1,1.0,0C201AA7EA0EA1AD,classic_bike,2022-12-18 06:42:33,2022-12-18 07:08:44,Broadway & Belmont Ave,13277,Sedgwick St & Webster Ave,13191,41.940106,-87.645451,41.922167,-87.638888,casual
2,2.0,E0B148CCB358A49D,electric_bike,2022-12-13 08:47:45,2022-12-13 08:59:51,Sangamon St & Lake St,TA1306000015,St. Clair St & Erie St,13016,41.885919,-87.651133,41.894345,-87.622798,member
3,3.0,54C5775D2B7C9188,classic_bike,2022-12-13 18:50:47,2022-12-13 19:19:48,Shields Ave & 31st St,KA1503000038,Damen Ave & Madison St,13134,41.838464,-87.635406,41.88137,-87.67493,member
4,4.0,A4891F78776D35DF,classic_bike,2022-12-14 16:13:39,2022-12-14 16:27:50,Ashland Ave & Chicago Ave,13247,Damen Ave & Charleston St,13288,41.895954,-87.667728,41.920082,-87.677855,casual
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11335429,NA,8788DA3EDE8FD8AB,electric_bike,2022-01-18 12:36:48,2022-01-18 12:46:19,Clinton St & Washington Blvd,WL-012,NA,NA,41.883436,-87.641391,41.89,-87.62,casual
11335430,NA,C6C3B64FDC827D8C,electric_bike,2022-01-27 11:00:06,2022-01-27 11:02:40,Racine Ave & Randolph St,13155,NA,NA,41.884158,-87.656977,41.88,-87.65,casual
11335431,NA,CA281AE7D8B06F5A,electric_bike,2022-01-10 16:14:51,2022-01-10 16:20:58,Broadway & Waveland Ave,13325,Clark St & Grace St,TA1307000127,41.949066,-87.648611,41.95078,-87.659172,casual
11335432,NA,44E348991862319B,electric_bike,2022-01-19 13:22:11,2022-01-19 13:24:27,Racine Ave & Randolph St,13155,NA,NA,41.884005,-87.657031,41.88,-87.66,casual
11335433,NA,E477C594A182AE58,electric_bike,2022-01-13 17:24:43,2022-01-13 17:28:14,Clinton St & Washington Blvd,WL-012,Desplaines St & Kinzie St,TA1306000003,41.883248,-87.641244,41.888716,-87.644448,casual

In [5]:
# Data Cleaning - Checking for duplicate values in the data set

cleaned_annual_data[cleaned_annual_data.duplicated(subset = "ride_id") == True]

,Unnamed: 0,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
5667717,NA,65DBD2F447EC51C2,electric_bike,2022-12-05 10:47:18,2022-12-05 10:56:34,Clifton Ave & Armitage Ave,TA1307000163,Sedgwick St & Webster Ave,13191,41.918244,-87.657115,41.922167,-87.638888,member
5667718,NA,0C201AA7EA0EA1AD,classic_bike,2022-12-18 06:42:33,2022-12-18 07:08:44,Broadway & Belmont Ave,13277,Sedgwick St & Webster Ave,13191,41.940106,-87.645451,41.922167,-87.638888,casual
5667719,NA,E0B148CCB358A49D,electric_bike,2022-12-13 08:47:45,2022-12-13 08:59:51,Sangamon St & Lake St,TA1306000015,St. Clair St & Erie St,13016,41.885919,-87.651133,41.894345,-87.622798,member
5667720,NA,54C5775D2B7C9188,classic_bike,2022-12-13 18:50:47,2022-12-13 19:19:48,Shields Ave & 31st St,KA1503000038,Damen Ave & Madison St,13134,41.838464,-87.635406,41.88137,-87.67493,member
5667721,NA,A4891F78776D35DF,classic_bike,2022-12-14 16:13:39,2022-12-14 16:27:50,Ashland Ave & Chicago Ave,13247,Damen Ave & Charleston St,13288,41.895954,-87.667728,41.920082,-87.677855,casual
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11335429,NA,8788DA3EDE8FD8AB,electric_bike,2022-01-18 12:36:48,2022-01-18 12:46:19,Clinton St & Washington Blvd,WL-012,NA,NA,41.883436,-87.641391,41.89,-87.62,casual
11335430,NA,C6C3B64FDC827D8C,electric_bike,2022-01-27 11:00:06,2022-01-27 11:02:40,Racine Ave & Randolph St,13155,NA,NA,41.884158,-87.656977,41.88,-87.65,casual
11335431,NA,CA281AE7D8B06F5A,electric_bike,2022-01-10 16:14:51,2022-01-10 16:20:58,Broadway & Waveland Ave,13325,Clark St & Grace St,TA1307000127,41.949066,-87.648611,41.95078,-87.659172,casual
11335432,NA,44E348991862319B,electric_bike,2022-01-19 13:22:11,2022-01-19 13:24:27,Racine Ave & Randolph St,13155,NA,NA,41.884005,-87.657031,41.88,-87.66,casual
11335433,NA,E477C594A182AE58,electric_bike,2022-01-13 17:24:43,2022-01-13 17:28:14,Clinton St & Washington Blvd,WL-012,Desplaines St & Kinzie St,TA1306000003,41.883248,-87.641244,41.888716,-87.644448,casual

In [6]:
# Preanalysis - Checking for relation between ride_type and member_casual

casual_annual_data = cleaned_annual_data[cleaned_annual_data["member_casual"] == "casual"]
member_annual_data = cleaned_annual_data[cleaned_annual_data["member_casual"] == "member"]

In [9]:
casual_annual_data["rideable_type"].value_counts()

electric_bike    2506198
classic_bike     1782918
docked_bike       354948
Name: rideable_type, dtype: int64

In [10]:
member_annual_data["rideable_type"].value_counts()

classic_bike     3419510
electric_bike    3271860
Name: rideable_type, dtype: int64

1. Find the stations in which docked,electric, classic bikes are used more? -- Done
2. Find stations in which casual rides start or end at? -- Done
3. Find stations members use more? -- Done
4. Find intersectig stations between members and casuals -- need more data
5. Find ride length and check whether ride length affects casual or member
6. Find which days casual, member ride more
7. Find which days casual, member ride more in which station

In [11]:
casual_annual_data["start_station_name"].value_counts().head(6)

NA                                    694814
Streeter Dr & Grand Ave               116190
DuSable Lake Shore Dr & Monroe St      63726
Millennium Park                        51060
Michigan Ave & Oak St                  50530
DuSable Lake Shore Dr & North Blvd     47314
Name: start_station_name, dtype: int64

In [12]:
casual_annual_data["end_station_name"].value_counts().head(6)

NA                                    817782
Streeter Dr & Grand Ave               119756
DuSable Lake Shore Dr & Monroe St      59206
Millennium Park                        53356
Michigan Ave & Oak St                  52900
DuSable Lake Shore Dr & North Blvd     52290
Name: end_station_name, dtype: int64

In [13]:
member_annual_data["start_station_name"].value_counts().head(6)

NA                              971314
Kingsbury St & Kinzie St         49874
Clark St & Elm St                44080
Wells St & Concord Ln            42596
University Ave & 57th St         39906
Clinton St & Washington Blvd     39654
Name: start_station_name, dtype: int64

In [14]:
member_annual_data["end_station_name"].value_counts().head(6)

NA                              967702
Kingsbury St & Kinzie St         49274
Clark St & Elm St                44736
Wells St & Concord Ln            43828
University Ave & 57th St         41068
Clinton St & Washington Blvd     41060
Name: end_station_name, dtype: int64

In [15]:
casual_annual_data.groupby(["rideable_type"]).get_group("electric_bike")["start_station_name"].value_counts().head(6)

NA                                   694814
Streeter Dr & Grand Ave               34306
DuSable Lake Shore Dr & Monroe St     19172
Millennium Park                       16968
Michigan Ave & Oak St                 16400
Wells St & Concord Ln                 14834
Name: start_station_name, dtype: int64

In [16]:
casual_annual_data.groupby(["rideable_type"]).get_group("classic_bike")["start_station_name"].value_counts().head(6)

Streeter Dr & Grand Ave               58308
DuSable Lake Shore Dr & Monroe St     30616
DuSable Lake Shore Dr & North Blvd    26634
Michigan Ave & Oak St                 25738
Millennium Park                       22500
Theater on the Lake                   20908
Name: start_station_name, dtype: int64

In [17]:
casual_annual_data.groupby(["rideable_type"]).get_group("docked_bike")["start_station_name"].value_counts().head(6)

Streeter Dr & Grand Ave              23576
DuSable Lake Shore Dr & Monroe St    13938
Millennium Park                      11592
Shedd Aquarium                        9316
Michigan Ave & Oak St                 8392
Dusable Harbor                        6326
Name: start_station_name, dtype: int64

In [18]:
annual_data.dtypes

Unnamed: 0            float64
ride_id                object
rideable_type          object
started_at             object
ended_at               object
start_station_name     object
start_station_id       object
end_station_name       object
end_station_id         object
start_lat             float64
start_lng             float64
end_lat               float64
end_lng               float64
member_casual          object
dtype: object

In [7]:
annual_data["started_at"] = pd.to_datetime(annual_data["started_at"])
annual_data["ended_at"] = pd.to_datetime(annual_data["ended_at"])
annual_data.dtypes

Unnamed: 0                   float64
ride_id                       object
rideable_type                 object
started_at            datetime64[ns]
ended_at              datetime64[ns]
start_station_name            object
start_station_id              object
end_station_name              object
end_station_id                object
start_lat                    float64
start_lng                    float64
end_lat                      float64
end_lng                      float64
member_casual                 object
dtype: object

In [11]:
annual_data["ride_length"] = annual_data["ended_at"] - annual_data ["started_at"]
annual_data.dtypes

Unnamed: 0                    float64
ride_id                        object
rideable_type                  object
started_at             datetime64[ns]
ended_at               datetime64[ns]
start_station_name             object
start_station_id               object
end_station_name               object
end_station_id                 object
start_lat                     float64
start_lng                     float64
end_lat                       float64
end_lng                       float64
member_casual                  object
ride_length           timedelta64[ns]
dtype: object

In [12]:
annual_data['ride_length'] = annual_data['ride_length'].astype(str)
print(type(annual_data['ride_length']))

<class 'pandas.core.series.Series'>

In [13]:
annual_data['ride_length'] = annual_data['ride_length'].str.replace(" days ", ":")

In [17]:
annual_data['ride_length_min'] = annual_data['ride_length'].str.split(":").apply(lambda x : int(x[0])*24*60 + int(x[1])*60 + int(x[2]) + int(int(x[3])/60))

KeyboardInterrupt:

In [ ]:
annual_data